<html>
	<head>
		<title>Together Mercantile Credit</title>
		<link rel="stylesheet" href="default.css" type="text/css"/>
	</head>
	<body>
		<div id="top">
		<img id="logo" src="../www/images/tmc-logo2.png"/>
		<span id="dock">
					<% page:top() %> | <a href="/admin/home">Dashboard</a> | <a href="/">News</a> | <a href="/">About</a>
		</span>
		</span>
		</div>
		<div id="page">
			<div id="nav">
				<p>TMC may close an account at any time.</p>
			</div>
			<div id="content">
				<% page:content() $>
				<!-- 
				<h1>Login</h1>
				<p>Please log in using the details provided to you. If you have forgotten your 
				username or password, or do not yet have a login, please contact your 
				support representative to enable this account.</p>
				<% page:body() %>

				<table class="dataentry">
					<tr><td class="label">Username:</td><td><input name="username" type="text" size="20"/></td></tr>
					<tr><td class="label">Password:</td><td><input name="password" type="password" size="20"/></td></tr>
					<tr><td class="label"></td><td><input type="Submit" value="Submit"/></td></tr>
				</table>
				-->
			</div>
		</div>
		<br clear="all"/>
		<div id="footer"><hr><p><% ewok_login_handler:bottom() %></p></div>
		<p align="center"><% session:user() %></p>
		
</html>
