/* ewok skin css */
body, td {
	font-family: sans-serif;
	font-size: 12px;
}
h1 {
	font-size: 14pt;
	color: #aaa;
}
hr {
	height: 1px;
	width: 100%;
}

#top { 
	height: 30px; 
	border-bottom: 3px solid #ccc;
}
#dock { 
	margin-top: 8px; 
	float: right; 
	padding-right: 15px; 
}
#nav { 
	border-right: 1px solid #ccc;
	float: left; 
	width: 150px; 
	height: 80%; 
}
#nav p {
	color: #888;
	font-size: 8pt;
}
#nav ul {
	margin: 0px 10px, 0px, 0px;
	padding: 1px;
	list-style-type: none;
}
#nav li { 
	margin: .2em 0; 
}
#nav a {
	display: block;
	color: #333;
	background-color: #fff;
	width: 130px;
	padding: 0.5em 0.8em;
	text-decoration: none;
}
#nav a:hover {
	background-color: #eee;
}
#content {
	margin-left: 150px;
	padding: 10px 30px 10px 30px;
}
#footer {
	text-align: center;
	font-size: 8pt;
}

.grid {
	width: 50%;
	border: solid 1px #777;
	border-collapse: collapse;
	margin-left: 20px;
}
.grid caption {
	font-style: italic;
}
.grid th {
	background-color: #eee;
	text-align: left;
	font-style: italic;
}
.grid td {
	padding: 4px;
	border: solid 1px #aaa;
}
.dataentry {
	margin-left: 50px;
}
.dataentry td {
	padding: 5px;
}
.hilite {
	font-weight: bold;
}
.label {
	text-align:right;
	font-weight: bold;
	color: #888;
}
.para {
	font-family: Verdana;
	max-width: 40em;
}
